extends layout

block content
    each message in messages
        div(class="messageDiv")
            div(class="messageUADiv")
                img(class='messageAvatar', src="https://api.adorable.io/avatars/" +message.avatar)
                h4(class='messageUser')= message.username
            div(class="messageContent")
                p(class='messageText')= message.text
                p(class='messageDate')= message.date
                if username == message.username
                    form(id='edit', class='messageEdit' method='post', action='/edit')
                        input(type="hidden" value=message)
                        input(class="edit" type="submit", value="Edit")
                
                    form(id='delete', class='messageDelete' method='post', action='/delete')
                        input(type="hidden" value=message)
                        input(class="delete" type="submit", value="Delete")
                else if admin
                    form(id='delete', class='messageDelete' method='post', action='/delete')
                        input(type="hidden" value=message)
                        input(class="delete" type="submit", value="Delete")
                    
    if authorized
        div(class="submitMessage")
            div(class="submitMessageDiv")
                img(class='userAvatar', src="https://api.adorable.io/avatars/" +avatar)
                div(class="smDiv")
                    form(id='form', class='messageForm' method='post', action='/')
                        textarea(name="message", cols="30", rows="6")
                        input(class="messageSubmitButton" type="submit", value="Send Message")
            
        
  
