extends layout

block content
    each message in messages
        div(class="messageDiv")
            div(class="messageUADiv")
                img(class='messageAvatar', src="https://api.adorable.io/avatars/" +message.avatar)
                h4(class='messageUser')= message.username
            div(class="messageContent")
                p(class='messageText')= message.text
                p(class='messageDate')= message.date
                if username == message.username
                    a(href='/') Edit 
                    |
                    button(type='button' action=deleteMsg(message)) Delete
                else if admin
                    button(type='button' action=deleteMsg(message)) Delete
                else
                    p fuck 

    if authorized
        img(class='userAvatar', src="https://api.adorable.io/avatars/" +avatar)
        form(id='form', class='messageForm' method='post', action='/')
            input(type='text', name='message')
            input(type="submit", value="Send Message")
        
    
