doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="style.css")
    body
        header
            div(class="container")
                div(class="title-text") Critter House
                img(src="images/nav-img.jpg", alt="images/nav-img.jpg" width="100%")
            nav
                //div(id="navbar1")
                    ul(id="nav")
                        li(id="title") 
                            a(href='/') #{"Home"}
                        li(id="listings") 
                            a(href='/listings') #{"Listings"}
                        li(id="order") 
                            a(href='/order') #{"Order"}
                //div(id="navbar2")
                    ul(id="nav")
                        li(id="title") 
                            a(href='/') #{"Home"}
                        li(id="listings") 
                            a(href='/listings') #{"Listings"}
                        li(id="order") 
                            a(href='/order') #{"Order"}
        body
            div(class="main")
                block content
        footer
            div(class="foot")